{% extends "auctions/layout.html" %}

{% block body %}
<div class="col-12">
    <div class="row">
        {% for item in all %}
        <div class="col-3 box-listing">
            <div class="align-center margin-add">
                <h4>{{ item.title }}</h4>
            </div>
            <img class="image" alt="{{ item.title }}" src="{{ item.image }}"/>
            <div class="div-info">
                <p class="p-add"><strong>Description:</strong>{{ item.description }}</p>
                <p class="p-add"><strong>Price:</strong> U${{ item.price }}</p>
                <div class="row align-center">
                    <p class="mt-2" style="color: green;">Congratulations, you won the bid!</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}